<section class="jumbotron">
  <h1 class="text-center">
    {{title}}
  </h1>
</section>

<section class="container">
  <div class="btn-group areaDeOpcoes">
    <a class="btn btn-primary" [routerLink]="['/cadastro']">Nova Foto</a>
    <input #inputDaBusca (keyup)="0" type="text" class="form-control" style="border: 1px solid black ;">
  </div>
</section>

<section class="container">
  <Painel *ngFor="let foto of fotos | filtraPorTitulo: inputDaBusca.value" titulo="{{ foto.titulo | uppercase }}" class="col-md-2 col-sm-12">
    <a [routerLink]="['/cadastro', foto._id]">
      <Foto url="{{ foto.url }}" titulo="{{ foto.titulo }}"></Foto>
    </a>
    <button class="btn btn-danger btn-block"
            (click)="remover(foto)">
            Remover</button>
  </Painel>
</section>